.centered {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titletext {
    font-family: 'Raleway', sans-serif;
}

.hidden {
    opacity: 0%;
}

.errorSpan {
    color: #ec7878;
    height: 60px;
}

.fixmarg1 {
    margin-top: 6px;
    margin-bottom: 3px;
}

.fixmarg2 {
    margin-top: 5px;
}

.fixmarg3 {
    margin-top: 5px;
}

/* #root {
    height:100vh;
    background: linear-gradient(#ffffff, #ddfff8);
} */

.form-control::-webkit-input-placeholder { opacity: 50%; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { opacity: 50%; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { opacity: 50%; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { opacity: 50%; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { opacity: 50%; }  /* Microsoft Edge */


.githubimg {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 20px;
    height: 20px;
    opacity: 50%;
}

.githubimg:hover {
    cursor: pointer;
}

.ghlink:hover {
    cursor: pointer;
}

/* .githublink {
    opacity: 50%;
}

.githublink:hover {
    opacity: 100%;
} */

#target {
    height: 60px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

label {
    display:block;
    border:solid 1px gray;
    height: auto;
    width: 250px;
    border-radius:40px;
    -webkit-font-smoothing: antialiased; 
    margin: auto;
    font-family:Arial,Helvetica,sans-serif;
    color:gray;
    text-align:center;
    padding: 15px;
    margin-bottom: 10px;
}

input[type=checkbox] {
    display: none;
}

input:checked + label {
    border: solid 1px #007bff;
    color: white;
    background-color: #007bff;
}

input:checked + label:before {
    content: "\2713 ";
}

label:hover + input{
    cursor: pointer;
    border: solid 3px #007bff;
}


/* new stuff */
.check {
    visibility: hidden;
}

input:checked + label .check {
    visibility: visible;
}

input.checkbox:checked + label:before {
    content: "";
}

.automarg{
    margin: auto
}

/* .tdcell{
    position: fixed;
} */

.strokeme{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

label.titletext::hover{
    cursor: pointer;
}

input.checkbox + label + div.teacherchooser{
    display: none;
}

input.checkbox:checked + label + div.teacherchooser{
    display: block;;
}

.teacherchooser{
    margin-bottom: 10px;
}

div.scroll {  
    overflow: auto;  
    white-space: nowrap;  
}

#teacherselect{
    width: 130px;
}

#tableparent{
    overflow-y: scroll;
    height:auto;
    width:auto;
}

#loading{
    display: none;
    transform: translate(-50%, 50%);
}

.buttons1{
    display: block;
    margin: auto;
    margin-bottom: 50px;
}

.buttons2{
    display: block;
    margin: auto;
    margin-bottom: 50px;
}