<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kmiljanify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/picker.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <script
			  src="https://code.jquery.com/jquery-3.5.1.min.js"
			  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
              crossorigin="anonymous"></script>
    <script src="/static/js/picker.js"></script>
    <script src="/static/js/githubbutton.js"></script>
</head>

<body display="none">
    <main id="root" class="text-center">
        <nav class="navbar navbar-expand navbar-light justify-content-end">
            <div class="nav navbar-nav">
                <span id="ghlink" class="nav-item nav-link githublink">Github </span>
                <a href="https://github.com/avramdj" target="_blank">
                    <img id="ghlogo" class="githubimg" src="/static/img/github.png">
                </a>
            </div>
        </nav>
        <div class="">
            <h1 class="titletext">Kmiljan Scheduler</h1>
            <br>
            <img id="loading" src="/static/img/loading.gif" class="centered img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
            <form id="courseform" class="form-group titletext unselectable mainform container">
                <div>
                    {% for course, ctypes in courses.items() %}
                    <input class="checkbox" id="{{course}}" type="checkbox" name="{{course}}" />
                    <label class="titletext" for="{{course}}"><span class="check">✓</span> {{course}}</label>
                    <div class="teacherchooser {{course}}">
                        {% for ctype, teachers in ctypes.items() %}
                        <select id="teacherselect" class="custom-select">
                            <option ctype="{{ctype}}" course="{{course}}" selected disabled class="titletext {{course}}" value="All">
                                {% if ctype == 'lecture' %}
                                    predavanja
                                {% endif %}
                                {% if ctype == 'exercise' %}
                                    vezbe
                                {% endif %}
                                {% if ctype == 'practicum' %}
                                    praktikum
                                {% endif %}
                            </option>
                            <option ctype="{{ctype}}" course="{{course}}" class="titletext" value="All">Svejedno</option>
                            <option ctype="{{ctype}}" course="{{course}}" class="titletext" value="None">Ne idem</option>
                            {% for teacher in teachers %}
                            <option ctype="{{ctype}}" course="{{course}}" class="titletext" value="{{teacher}}">
                                {{teacher}}
                            </option>
                            {% endfor %}
                        </select>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
                <button type="button" id="home" class="btn btn-outline-secondary titletext fixmarg3">Nazad</button>
                <button type="button" id="coursebtn" class="btn btn-outline-primary titletext fixmarg3">Potvrdi</button>
            </form>
            <div id="schedule" hidden="">
                <div id="tableparent">
                <table id="table" class="table table-striped table-inverse automarg" style="width:70%;margin:auto">
                    <thead class="thead-inverse">
                        <tr>
                            <th></th>
                            {% for hour in hours %}
                            <th class="tbhour">
                                {{ '%02d:15' | format(hour+8) }}
                                <p style="opacity: 50%;margin:0px;">{{ '%02d:00' | format(hour+9)}}</p>
                            </th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                            {% for i, day in days.items() %}
                            <tr>
                                <td class="titletext">
                                    {{day}}
                                </td>
                                {% for hour in hours %}
                                <td id="td-{{i}}-{{hour}}" class="tdcell">
                                    x
                                </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                </table>    
                <br>
                </div>
            <div>
                <button type="button" id="nazad" class="btn btn-outline-secondary titletext fixmarg3">Izaberi opet</button>
                <button type="button" id="prethodni" class="btn btn-outline-primary titletext fixmarg3">Prethodni</button>
                <button type="button" id="sledeci" class="btn btn-outline-primary titletext fixmarg3">Sledeci</button>
            </div>
            </div>
            <p id="smer" hidden>{{smer}}</p> 
        </div>
        <footer>

        </footer>
    </main>
</body>
</html>